# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
env/
*.env
secrets.toml

# Streamlit cache and logs
.streamlit/secrets.toml
!/.streamlit/Dockerfile
logs/
cache/

# FAISS index and metadata files
vector_store.index
metadata.json

# Temp files and uploads
temp.pdf
*.jpg
*.jpeg
*.png

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# Python package files
*.egg
*.egg-info/
dist/
build/
*.spec

# Pytest & Coverage
.coverage
htmlcov/
pytest_cache/

# Misc
*.log
